<mat-toolbar>
    <button md-button routerLink="/">JTSocial</button>
    <button md-button routerLink="/users">Users</button>
  <span style="flex: 1 1 auto"></span>
  <!-- <button md-button *ngIf="!authService.isAuthticated" routerLink="/register">Register</button> -->
  <button md-button *ngIf="!authService.isAuthticated" routerLink="/register">Register</button>
  <button md-button *ngIf="authService.isAuthticated" (click)="authService.logout()" >Logout</button>
  <button md-button *ngIf="!authService.isAuthticated" routerLink="/login">Login</button>
</mat-toolbar>
<router-outlet></router-outlet>
